<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

    <h1>Hi, My name is Subodh Kumar 👋</h1>
    <p>Welcome to my Flask Result App</p>

    <br>

    <!-- External Links -->
    <a href="https://github.com/subodhkryadav" target="_blank">
        <button>GitHub</button>
    </a>

    <br><br>

    <a href="https://www.linkedin.com/in/subodh-kumar-yadav-522828293/" target="_blank">
        <button>LinkedIn</button>
    </a>

    <br><br><br>

    <!-- Internal Flask Route -->
    <a href="{{ url_for('form') }}">
        <button>Go to Marks Form</button>
    </a>

    <br><br>
    <h4>Thanks Again 🙏</h4>

</body>
</html>
