<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>information</title>
</head>
<body>
    <p>This is my all information</p>
    <h1>Name:-Subodh Kumar Yadav</h1>
    <h2>Age: 21</h2>
    <h3>Roll_number:-41</h3>
    <h3>College_Name:- Jagannath University</h3>
    <h4>Phone Number:9708795935-</h4>
    <h5>Email:- Subodhkumary933@gmail.com</h5>
    <h6>This is all about myself or my information</h6>
</body>
</html>