<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
    <h1>How to connect with me</h1>
    <h2>Here the folloing list to connect with me:-</h2>
    <h4>1. phone:- 9708795935</h4>
    <h4>2. Email:- subodhkumary933@gmail.com</h4>
    <h4><a href="{{about}}">about</a></h4>
    <h4><a href="https://github.com/subodhkryadav",target="_blank">Github Account</a></h4>
    <h4><a href="{Go to HOMe page{index}}">HOme page</a></h4>
    <a href="{{('about') }}">Mere Bare Mein Jane</a>
</body>
</html>